.box-cart{
    margin: 150px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box-titulo{
    display: flex;
    justify-content: center;
}

.box-titulo h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 35px;
    background: linear-gradient(to right, #222, #333);
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 10px;
    width: 20%;
}

.cart{
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #222, #333);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    margin: 0px 10px 20px 0px;
}

.total-precio{
    background: linear-gradient(to right, #222, #333);
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    width: 15%;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
}

.box-btns{
    display: flex;
    justify-content: initial;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

.btn-eliminar{
    border: none;
    background-color: #e57603;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn-vaciar{
    border: none;
    background-color: #e57603;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.btn-finish{
    border: none;
    background-color: #e57603;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.box-cart-vacio{
    width: 100%;
}

.cart-vacio-titulo{
    display: flex;
    justify-content: center;
    font-size: 35px;
}