*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(220, 217, 217);
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.loading{
    margin: 0 auto;
    margin-top: 100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.box-orders{
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 400px;
    margin-left: 600px;
}
